<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<p><strong>Stefan Lell</strong></p> <br> <p>Risk Manager</p>

<em>I am interested in data science because the information which is embedded in the data is extreme and will change how we do business and how we will live as a Society in General (thinking of the opportunities e.g. in the health sector)</em>

<h3>In the following, a function fibo is defined which calcuates the n.th value of the recursively defined Fibonacci sequence for a given natural figure.  </h3>

In [1]:
# Function that recursively calculates the n. th element in the Fibonacci sequence
def fibo(n):
    if(n<=1):
        return n
    else:
        return(fibo(n-1) + fibo(n-2))

# Define an integer for which fibo(n) is executed
n = 10

# Set a for loop to get estimates from 0 to n
for i in range(n+1):
    print('n = ', i, 'fibo(n) = ', fibo(i))

n =  0 fibo(n) =  0
n =  1 fibo(n) =  1
n =  2 fibo(n) =  1
n =  3 fibo(n) =  2
n =  4 fibo(n) =  3
n =  5 fibo(n) =  5
n =  6 fibo(n) =  8
n =  7 fibo(n) =  13
n =  8 fibo(n) =  21
n =  9 fibo(n) =  34
n =  10 fibo(n) =  55

The Fibonacci Sequence is really interesting - Fibonacci has defined it in order to model a rabbit population (without natural enemies). It has many interesting properties, such as
<ol>
   <li>appearance in biological settings, such as</li>
       <ul>
           <li>branching in trees</li>
           <li>arrangements of leaves on a stem</li>
           <li>...</li>
       </ul>
    <li>strong relationship with the golden ratio (Binet's formula)</li>
    <li>strong relationship with Lucas numbers</li>
    <li>appearance in the movie <em>The Da Vinci Code</em></li>
    <li>...</li>
</ol>

The following table displays the results of the first 10 calculations using the above code:

<table>
 <tr>
 <td> n </td>
 <td> fibo(n) </td>
  </tr>
 <tr>
 <td> 0 </td>
 <td> 0 </td>
  </tr>
 <tr>
 <td>1 </td>
 <td> 1 </td>
  </tr>
    <tr>
 <td> 2 </td>
 <td> 1 </td>
  </tr>
 <tr>
 <td> 3 </td>
 <td> 2 </td>
  </tr>
 <tr>
 <td> 4 </td>
 <td> 3 </td>
  </tr>
<tr>
 <td> 5 </td>
 <td> 5 </td>
  </tr>
 <tr>
 <td> 6 </td>
 <td> 8 </td>
  </tr>
    <tr>
 <td> 7 </td>
 <td> 13 </td>
  </tr>
 <tr>
 <td> 8 </td>
 <td> 21 </td>
  </tr>
 <tr>
 <td> 9 </td>
 <td> 34 </td>
  </tr>
    <tr>
 <td> 10 </td>
 <td> 55 </td>
  </tr>
</table>

The video further below gives a brief introduction to the Fibonacci sequence.

In [2]:
from IPython.display import HTML
HTML("""
<div align="center">
    <iframe width="560" height="315"
    src="https://www.youtube.com/embed/03uC9bhX0Rc"
    </iframe>
</div>
""")